$fontColor1: black;
$color: #dd0;
$color1: #101010;
$color2: #d00;
$bgColor: #ddd;
$bgColor1: #fff;
$footerBgColor: #20232a;
$about_left_bg: #5f5750;
$about_middle_text: red;
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $fontColor1;
}
a{
    color: $fontColor1;
    &:hover{
        color: $fontColor1;
        outline: none;
    }
}
select,textarea,input{
    resize: none;
    outline: none;
    &:focus{
        outline: none;
    }
}
ul,li{
    list-style: none;
}
.clearfix:after{
    clear: both;
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
}

