@import url('./header/index.scss');
@import url('./home/index.scss');
@import url('./form/index.scss');
@import url('./login/index.scss');
@import url('./about/index.scss');
@import url('./footer/index.scss');
@import './_common.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.modal-tips{
    position: fixed;
    top: 100px;
    left: 50%;
    max-width: 240px;
    padding: 0 50px 0 10px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    transform: translate(-50%, 0);
    z-index: 1000;
    background: var(--fill-2);
    border: 1px solid var(--text-2);
    color: var(--text-1);
    text-align: center;
    .modal-tips-text{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    i{
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      display: block;
      cursor: pointer;
      text-align: center;
      font-style: normal;
    }
  }
}



