@import '../_common.scss';
.home-footer{
    width: 100%;
    background: var(--common-1);
    display: flex;
    color: var(--text-1);
    padding: 10px 0;
    .home-footer-link{
        flex: 1;
        padding-top: 40px;
        font-size: 14px;
        color: var(--fill-1);
    }
    .home-footer-right{
        color: var(--text-1);
        flex: 1;
        text-align: left;
        .home-footer-r-t{
            color: var(--fill-1);
            font-size: 12px;
            padding-bottom: 5px;
        }
        ul  {
            li{
                font-size: 16px;
                a{
                    display: block;
                    color: var(--bg-1);
                }
            }
        }
    }
}
