@import '../_common.scss';

.home-form{
    width: 800px;
    margin: 0 auto;
    label{
        display: block;
        padding-left: 120px;
        position: relative;
        text-align: left;
        span{
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        input,textarea{
            width: 200px;
            height: 30px;
            line-height: 30px;
            border: 1px solid var(--text-2);
            &[type='submit']{
                width: 120px;
                &:hover{
                    background: var(--bg-1);
                    cursor: pointer;
                }
            }
        }
        input[type='checkbox']{
            width: 30px;
            height: 30px;
            vertical-align: middle;}
        font{
            vertical-align: middle;}
        .home-form-upload{
            position: absolute;
            left: 120px;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        .home-form-uploadbg{
            display: inline-block;
            border: 1px solid var(--text-1);
            background: var(--text-4);
            width: 200px;
            height: 30px;
            cursor: pointer;}
        img{
            max-width: 120px;
            max-height: 120px;}
        .submit{
            width: 80px;
            height: 30px;
            border: 1px solid var(--text-2);
            cursor: pointer;
            &:hover{
                background: var(--text-3);
                color: var(--fill-3);
            }
        }
    }
}